/***************************************
Wide Version
***************************************/

@media all and (min-width:1004px){

/***************************************
General
***************************************/

html{
	font-size: 62.5%;
}

.no-margin {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.no-style-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.to-left{
	float: left;
}

.to-right{
	float: right;
}

.to-center{
	text-align: center;
}

body {
	margin: 0;
}

.bold-font {
	font-weight: bold;
}

.wrapper {
	width: 940px;
	max-width: 100%;
	margin: 0 auto;
}

section {
	box-shadow: 0 1px 3px 0 grey;
	overflow: hidden;
}

.logo-for-mobile, .mobile-search, .search-label, .input-mobile-search, .lab, .mobile-navigation, .numbered-bullets, .mobile-footer, .mobile-copyright, .mobile-menu-items, #mobile-menu, #mobile-menu-icon, #mobile-search, #mobile-search-icon{
	display: none;
}

/***************************************
Header
***************************************/

header {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 1.3rem;
	background-color: white;
	padding: 0 0 10px 0;
	box-shadow: 0 1px 3px 0 grey;
	position: absolute;
	width: 100%;
}

.logo{
	margin-right: 45px;
}

/***************************************
Nav Bar
***************************************/

.main-nav > li a {
	color: #a0a0a0;
	font-family: sans-serif;
	text-decoration: none;
}

.main-nav > li > a {
	border-top: 1px solid white;
}

.main-nav > li a:link,
.main-nav > li a:visited {
	color: #a0a0a0;
}

.main-nav > li a:hover,
.main-nav > li a:active {
	color: #2f95c8;
}

.sub-nav {
	background: #FCFCFC;
	box-shadow: 3px 3px 3px 0px grey;
	display: none;
	height: 290px;
	left: 15%;
	position: absolute;
	top: 82px;
	width: 920px;
	z-index: 1;
}

.sub-nav-left {
	margin: 0;
	padding: 0;
	position: absolute;
	top:18px;
	z-index: 1;
}

.sub-nav-right {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 240px;
	top:18px;
	z-index: 1;
}

.sub-nav-left li,
.sub-nav-right li {
	list-style: none;
	display: none;
}

.sub-nav-left li a,
.sub-nav-right li a {
	text-align: left;
	list-style: none;
	width: 220px;
	height: 20px;
	padding: 1px 30px;
	font-size: 1.4rem;
	text-transform: none;
}

.nav-divider {
	background: url(../img/line_divider_video.png) repeat-y center center;
	height: 240px;
	width: 1px;
	display: block;
	position: absolute;
	left: 520px;
}

.nav-img {
	width: 300px;
	height: 196px;
	background: black;
	display: none;
	position: absolute;
	z-index: 1;
	left:570px;
	top:18px;
}

.img1-ebook {
	background: url(../img/Megamenu_Your_Needs_eBook.jpg);
}

.img2-digital {
	background: url(../img/megamenu_digital_lifestyle.jpg);
}

.img3-share {
	background: url(../img/Megamenu_News_and_media.jpg);
}

.img4-numbers {
	background: url(../img/Megamenu_About_Comverse_by_the_numbers.jpg);
}

.main-nav > li:hover .sub-nav-left li,
.main-nav > li:hover .sub-nav-right li,
.main-nav > li:hover .sub-nav,
.main-nav > li:hover .nav-img {
	display: block;
}

.main-nav > li:hover > a{
	background: #FCFCFC;
	border-top: 1px solid #D5D5D5;
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
	padding-bottom: 12px;
}

.main-nav > li:hover > a {
	width: 118px;
}

.items{
	text-transform: uppercase;
	list-style-type: none;
	width: auto;
	background: white url(../img/divider.png) right center no-repeat;
	padding: 0 10px 0 10px;
	margin-top: 50px;
}

/***************************************
Log In and Select Language
***************************************/

.login{
	margin-top: -20px;
}

.login a:hover {
	text-decoration: underline;
}

.language-menu{
	width: 45px;
	border: none;
	color: #585951;

}

.login-menu-item{
	font-size: 15px;
	padding-left: 10px;
	list-style-type: none;
	background: white url(../img/divider.png) left center no-repeat;
	outline: none;
}

header a:link, header a:visited{
	text-decoration: none;
	color: #585951;
}

/***************************************
Search
***************************************/

.form-for-search {
	border: 1px solid #d2d2d2;
	border-radius: 6px;
	margin-top: 32px;
}

.input-search {
	width: 10.5rem;
	border: none;
	margin: 0 5px 0 5px;
	border-radius: 6px;
	background:  url(../img/divider.png) right center no-repeat;
	outline: none;
}

.input-submit {
	background: white url(../img/searchBtn.png) right center no-repeat;
	border: none;
	margin-right: 8px;
	padding-top: 5px;
	outline: none;
	cursor: pointer;
}

/***************************************
Highlights
***************************************/

.slides {
	background: url(../img/slide-bg-complexity.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 80px;
	height: 680px;
}

.highlights {
	height: 330px;
	padding: 10px 0 10px 0;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

/***************************************
Headers
***************************************/

.highlights-header h1{
  	font: 100 44px "Open Sans", sans-serif;
  	font-weight: 100;
  	color: white;
  	width: 50rem;
  	margin-top: 40px;
}

.sub-header{
	color: white;
	font-size: 2rem;
	font-family: Verdana, Geneva, sans-serif;
}

/***************************************
Learn More Button
***************************************/

.learm-more{
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	background: url(../img/btnArrow.png) right 10px center no-repeat;
	background-color: rgb(51,153,204);
	width: auto;
  	line-height: 2;
  	box-shadow: 0 1px 4px 0 grey;
	padding-left:10px;
  	padding-right:85px;
	border: none;
	border-radius: 5px;
	color: white;
  	display: inline-block;
  	margin-bottom: 20px;
  	margin-top: 30px;
}

.learm-more:hover{
	background-color: rgb(23,164,234);
}

/***************************************
Bullets
***************************************/

.bullet {
	width: 11px;
	height: 11px;
	background-color: #e0e0e0;
	border-radius: 2px;
	margin-right: 5px;
	box-shadow: 0 1px 3px 0 grey;
}

.bullet:hover {
	background-color: #2e95ca;
}

/***************************************
Cards
***************************************/

ul.color-cards {
	margin: 120px 0 0 0;
	padding:0;
	list-style: none;
}

.card {
	border-radius: 8px;
	box-shadow: 0px 3px 3px 0px grey;
	color: white;
	display: inline-block;
	margin-right: 20px;
	opacity: 0.9;
	padding: 5px 14px;
	width: 26.4rem;
}

.card a {
	text-decoration: none;
  	color: white;
}

.card:hover {
	opacity: 1;
}

.card-icon {
	text-decoration: none;
	color: white;
	font-size: 1.6rem;
}

.card:hover .card-icon {
	text-decoration: underline;
}

.card h3 {
	font: 100 2.4rem "Open Sans";
	text-transform: none;
	height:120px;
	padding:0;
	margin:0;
}

.orange {
	background-color: #F46F16;
}

.pink {
	background-color: #F63D97;
}

.green {
	background-color: #6AC33C;
}


.card-icon:before {
	content: " ";
	background: url(../img/link-icon-image.png) no-repeat scroll left center;
	float: left;
	width: 30px;
	height: 20px;
	padding-right: 5px;
}

/***************************************
Services
***************************************/

.do-for-you {
	background: url(../img/weDoBG.png) repeat scroll 0 0 , radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
	color: white;
	padding: 0 0 60px;
	box-shadow: inset 0 1px 3px 0 grey;
}

/***************************************
Header
***************************************/

.do-for-you h1{
	font-size: 40px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform: uppercase;
	width: auto;
}

/***************************************
Service's Content
***************************************/

.do-for-you ul{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.service-item {
	width: 16%;
	height: 200px;
}

.service-name {
	font-size: 1.5rem;
}

.Business {
	background: transparent url(../img/solution_icon_biz-analitics.png) no-repeat center bottom;
	height: 100px;
	margin-bottom: 15px;
}

.Business:hover {
	background: transparent url(../img/solution_icon_biz-analitics_hover.png) no-repeat center bottom;
}

.Digital {
	background: transparent url(../img/solution_icon_diti-cx.png) no-repeat center bottom;
	height: 100px;
	margin-bottom: 15px;
}

.Digital:hover {
	background: transparent url(../img/solution_icon_diti-cx_hover.png) no-repeat center bottom;
}

.Smart {
	background: transparent url(../img/solution_icon_smart-money.png) no-repeat center bottom;
	height: 100px;
	margin-bottom: 15px;
}

.Smart:hover {
	background: transparent url(../img/solution_icon_smart-money_hover.png) no-repeat center bottom;
}

.Optimization {
	background: transparent url(../img/solution_icon_optimize-efficnt.png) no-repeat center bottom;
	height: 100px;
	margin-bottom: 15px;
}

.Optimization:hover {
	background: transparent url(../img/solution_icon_optimize-efficnt_hover.png) no-repeat center bottom;
}

.Personalized {
	background: transparent url(../img/solution_icon_personal.png) no-repeat center bottom;
	height: 100px;
	margin-bottom: 15px;
}

.Personalized:hover {
	background: transparent url(../img/solution_icon_personal_hover.png) no-repeat center bottom;
}

.Transformation {
	background: transparent url(../img/solution_icon_biz-transform.png) no-repeat center bottom;
	height: 100px;
	margin-bottom: 15px;
}

.Transformation:hover {
	background: transparent url(../img/solution_icon_biz-transform_hover.png) no-repeat center bottom;
}

/**************************************
Our Solutions Button
**************************************/

.our-solutions {
	font-size: 16px;
	font: "Open Sans", sans-serif;
	text-decoration: none;
	background: url(../img/btnArrow.png) right 10px center no-repeat;
	background-color: rgb(51,153,204);
	width: auto;
  	line-height: 1.8;
	padding-left:10px;
  	padding-right:45px;
	border: none;
	border-radius: 5px;
	color: white;
  	display: inline-block;
}

.our-solutions:hover {
	background-color: rgb(23,164,234);
}

/**************************************
Events
**************************************/

.events-at-comverse {
	background: url(../img/news-and-events-bg.jpg) 50% no-repeat fixed;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
	height: 420px;
	box-shadow: none;
}

/**************************************
Header And Sub Headers
**************************************/

.events-at-comverse h1{
	font-size: 40px;
	text-transform: uppercase;
	width: auto;
}

.head{
	font-size: 3.2rem;
}

/**************************************
Windows
**************************************/

.news-events-press-releases{
	display: inline-block;
	margin-top: 30px;
	width: 33%;
}

.window{
	margin-right: 2.5rem;
}

.window-details{
	background: rgba(255, 255, 255, 0.3);
	width: 29.6rem;
	height: 120px;
	border-radius: 3px;
}

.window-details:hover{
	background: rgba(255, 255, 255, 1);
	cursor: pointer;
}

/**************************************
Window's Content
**************************************/

.window-details p{
	color: black;
	padding: 10px;
	font-size: 17px;
}

.date {
	width: 7rem;
	height: 100px;
	background: rgb(51, 153, 204);
	border-radius: 1px;
	margin: 10px;
	box-shadow: 0 1px 4px 0 grey;
}

.day {
	font-size: 4rem;
	font-weight: bold;
	border-bottom: 1px dotted;
}

.month {
	text-transform: uppercase;
	padding: 4px;
	font-size: 2rem;
}

/**************************************
Links
**************************************/

.all-events-link {
 /*	position: absolute;
	margin-top: 140px; */
	font: 100 1.5rem "Open Sans";
	color: white;
	text-decoration: none;
}

.in-the-news-icon {
	background: url(../img/eventListIconNews.png) no-repeat;
	width: 24px;
	height: 19px;
	margin-top: 4px;
	margin-right: 10px;
}

.in-the-news-icon:hover {
	background: url(../img/eventListIconNews_hover.png);
	width: 24px;
	height: 19px;
	margin-right: 10px;
}

.events-icon {
	background: url(../img/eventListIconEvents.png);
	width: 19px;
	height: 22px;
	margin-top: 4px;
	margin-right: 10px;
}

.events-icon:hover {
	background: url(../img/eventListIconEvents_hover.png);
	width: 19px;
	height: 22px;
	margin-right: 10px;
}

.press-releases-icon {
	background: url(../img/eventListIconPress.png);
	width: 22px;
	height: 22px;
	margin-top: 4px;
	margin-right: 10px;
}

.press-releases-icon:hover {
	background: url(../img/eventListIconPress_hover.png);
	width: 22px;
	height: 22px;
	margin-right: 10px;
}

}

/***************************************
Mobile Version
***************************************/

@media all and (min-width:0px) and (max-width: 809px){

/***************************************
General
***************************************/

html{
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
}

.no-style-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.to-left{
  	float: left;
}

.to-center{
	text-align: center;
}

.bold-font {
	font-weight: bold;
}

section {
	box-shadow: 0 1px 3px 0 grey;
	overflow: hidden;
}

/***************************************
Header
***************************************/

header{
	background-color: white;
	width: 100%;
}

.logo, .items, .login, .input-search, .lab, .input-submit{
  	display: none;
 }

 .logo-for-mobile{
 	position: absolute;
 	width: 100%;
 }

 /***************************************
Nav Bar Button
***************************************/

 .nav-panel{
 	height: 100px;
 }

 .mobile-sub-nav, .input-mobile-search{
 	display: none;
 }

.mobile-nav {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #d9d9d9;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	text-decoration: none;
	background-color: rgb(235,233,234);
}


label:hover {
	cursor: pointer;
}

.nav-icon{
	width: 22px;
	height: 18px;
	background: url(../img/hamburger-icon.png);
	margin-top: 11px;
	margin-left: 9px;

}

.main-nav-mobile {
	display: none;
	list-style: none;
	text-transform: uppercase;
	font: 1.2rem "Open Sans";
	position: absolute;
	left: 0;
	top:0;
	z-index: 1;
	width: 100%;
	padding: 0;
}

.main-nav-mobile ul {
	list-style: none;
	background: white;
	padding: 0;
}

.main-nav-mobile li {
	color: #333333;
}

.main-nav-mobile label {
	width: 100%;
	border-radius: 0;
	background: url(../img/navCollapseArrowRight.png) no-repeat scroll 11px center, white;
}

.main-nav-mobile li a,
.main-nav-mobile label {
	background-color: white;
	margin: 0;
	padding: 0 30px;
	height: 3.8rem;
	text-transform: uppercase;
	display: block;
	text-align: left;
	width: 100%;
	color: #585951;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #fff;
	font: 1.4rem Arial;
	text-decoration: none;
	line-height: 3.8rem;
}


input[type="checkbox"]:checked ~ ul {
	display: block;
	top:47px;
}

/***************************************
Search
***************************************/

.search-label {
	border: 1px solid #d9d9d9;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	text-decoration: none;
	float: right;
	background-color: rgb(235,233,234);
	margin-right:  10px;
	margin-top: 10px;
}

.search-icon{
	background: url(../img/searchBtnMobile.png);
	width: 21px;
	height: 22px;
	margin-top: 10px;
	margin-left: 9px;
}

.mobile-search{
	color: black;
	width: 100%;
	height: 35px;
	margin-top: 65px;
	position: absolute;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #D1D1D1;
	padding: 0 5px;
}

.search-form{
	display: none;
}

#search-btn-mobile:checked ~ .search-form {
	display: block;
}

/***************************************
Highlights
***************************************/

.slides {
	background: url(../img/slide-bg-complexity.jpg) no-repeat center center fixed;
	background-size: cover;
	height: auto;
}

.mobile-content {
	height: 20rem;
	background-color: rgba(51,153,204,0.8);
	margin-bottom: 1rem;
}

/***************************************
Headers
***************************************/

.highlights-header h1{
  	font-size: 2rem;
  	font-weight: normal;
  	color: white;
  	font-family: Verdana, Geneva, sans-serif;
  	width: 27rem;
  	padding-left: 1.5rem;
}

.sub-header{
	color: white;
	font-size: 1.5rem;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 1.5rem;
}

/***************************************
Learn More Button
***************************************/

.learm-more{
  	font-size: 1.6rem;
	text-decoration: none;
  	text-transform: capitalize;
	background: url(../img/btnArrow.png) right 10px center no-repeat;
	background-color: rgb(51,153,204);
	width:auto;
  	line-height: 1.6;
	padding-left: 1rem;
  	padding-right: 4rem;;
	border: none;
	border-radius: 0.5rem;
	color: white;
  	display: inline-block;
  	margin-bottom: 4rem;
  	margin-left: 1.5rem;
}

.learm-more:hover{
	background-color: rgb(23,164,234);
}

/***************************************
Bullets
***************************************/


.bullet{
  	display: none;
}

.mobile-bullet {
  	width: 2.8rem;
  	line-height: 2.8rem;
  	font-size: 1.7rem;
  	font-family: "Open Sans", sans-serif;
	background-color: rgb(224,224,224);
  	color: #565656;
	border-radius: 2px;
  	margin-right: 0.5rem;
  	margin-bottom: 2.5rem;
}

.mobile-bullet:hover{
  	background-color: #2e95ca;
}

/***************************************
Cards
***************************************/

.color-cards {
	padding:0;
	list-style: none;
}

.card {
	box-shadow: 0px 3px 3px 0px grey;
	color: white;
	display: inline-block;
	opacity: 1;
	padding: 5px 14px;
	width: 100%;
	margin-bottom: 7px;
}

.card h3 {
	font: 100 1.9rem "Open Sans";
	text-transform: none;
	height:120px;
	padding:0;
	margin:0;
}

.card-arrow {
    height: 17px;
    width: 11px;
    right: 22px;
    float: right;
    position: relative;
    background: url(../img/promotion-item-arrow.png) no-repeat;
}

.card a {
	text-decoration: none;
  	color: white;
}

.card-icon {
	text-decoration: none;
	color: white;
	font-size: 1.6rem;
}

.card:hover .card-icon {
	text-decoration: underline;
}

.orange {
	background-color: #F46F16;
}

.pink {
	background-color: #F63D97;
}

.green {
	background-color: #6AC33C;
}


.card-icon:before {
	content: " ";
	background: url(../img/link-icon-image.png) no-repeat scroll left center;
	float: left;
	width: 30px;
	height: 20px;
	padding-right: 5px;
}

.numbered-bullets{
  	margin-left: 1.5rem;
}

/***************************************
Services
***************************************/

.do-for-you {
	background: url(../img/weDoBG.png) repeat scroll 0 0 , radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
	color: white;
	height: 45rem;
	box-shadow: inset 0 1px 3px 0 grey;
}

/**************************************
Header
**************************************/

.do-for-you h1{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform: uppercase;
}

/**************************************
Service's Content
**************************************/

.our-solutions{
  display: none;
}

.service-item {
	width: 33.33%;
	height: 15rem;
}

.service-name {
	font-size: 1.4rem;
	width: 80%;
	text-align: center;
}

.Business {
	background: transparent url(../img/solution_icon_biz-analitics.png) no-repeat center bottom;
	height: 7rem;
	margin-bottom: 1.5rem;
}

.Business:hover {
	background: transparent url(../img/solution_icon_biz-analitics_hover.png) no-repeat center bottom;
}

.Digital {
	background: transparent url(../img/solution_icon_diti-cx.png) no-repeat center bottom;
	height: 7rem;
	margin-bottom: 1.5rem;
}

.Digital:hover {
	background: transparent url(../img/solution_icon_diti-cx_hover.png) no-repeat center bottom;
}

.Smart {
	background: transparent url(../img/solution_icon_smart-money.png) no-repeat center bottom;
	height: 7rem;
	margin-bottom: 1.5rem;
}

.Smart:hover {
	background: transparent url(../img/solution_icon_smart-money_hover.png) no-repeat center bottom;
}

.Optimization {
	background: transparent url(../img/solution_icon_optimize-efficnt.png) no-repeat center bottom;
	height: 7rem;
	margin-bottom: 1.5rem;
}

.Optimization:hover {
	background: transparent url(../img/solution_icon_optimize-efficnt_hover.png) no-repeat center bottom;
}

.Personalized {
	background: transparent url(../img/solution_icon_personal.png) no-repeat center bottom;
	height: 7rem;
	margin-bottom: 1.5rem;
}

.Personalized:hover {
	background: transparent url(../img/solution_icon_personal_hover.png) no-repeat center bottom;
}

.Transformation {
	background: transparent url(../img/solution_icon_biz-transform.png) no-repeat center bottom;
	height: 7rem;
	margin-bottom: 1.5rem;
}

.Transformation:hover {
	background: transparent url(../img/solution_icon_biz-transform_hover.png) no-repeat center bottom;
}

/**************************************
Events
**************************************/

.events-at-comverse {
	background: url(../img/news-and-events-bg.jpg) 50% no-repeat fixed;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
	height: 82rem;
	box-shadow: none;
}

/**************************************
Header And Sub Headers
**************************************/

.events-at-comverse h1{
	text-transform: uppercase;
}

/**************************************
Windows
**************************************/

.news-events-press-releases{
	display: inline-block;
	width: 100%;
	font-size: 2rem;
	margin-top: 0.3rem;
	margin-left: 3px;
}

.window{
	font-size: 1.9rem;
  	width: 100%;
}

.window-details{
	background: rgba(255, 255, 255, 0.3);
	height: 15rem;
	border-radius: 3px;
  	margin-bottom: 10px;
}

.window-details:hover{
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

/**************************************
Window's Content
**************************************/

.window-details p{
	color: black;
  	padding: 2rem;
  	font-size: 1.6rem;
}

.date {
	width: 70px;
	height: 100px;
	background: rgb(51, 153, 204);
	border-radius: 1px;
	margin: 2rem;
	box-shadow: 0 1px 4px 0 grey;
  	color: white;
}
.day {
	font-size: 3.5rem;
	font-weight: bold;
	border-bottom: 1px dotted;
}

.month {
	text-transform: uppercase;
	padding: 0.7rem;
	font-size: 2rem;
}

/**************************************
Links
**************************************/

.all-events-link {
	display: block;
	font: 100 1.5rem "Open Sans";
	color: white;
	text-decoration: none;
	margin-bottom: 25px;
}

.in-the-news-icon {
	background: url(../img/eventListIconNews.png) no-repeat;
	width: 24px;
	height: 19px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.in-the-news-icon:hover {
	background: url(../img/eventListIconNews_hover.png);
	width: 24px;
	height: 19px;
}

.events-icon {
	background: url(../img/eventListIconEvents.png) no-repeat;
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.events-icon:hover {
	background: url(../img/eventListIconEvents_hover.png);
	width: 19px;
	height: 22px;
}

.press-releases-icon {
	background: url(../img/eventListIconPress.png) no-repeat;
	width: 22px;
	height: 22px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.press-releases-icon:hover {
	background: url(../img/eventListIconPress_hover.png);
	width: 22px;
	height: 22px;
}

/**************************************
Success Stories
**************************************/

.success-stories {
	background: rgb(236, 236, 236);
	height: 860px;
}

.story-columns, .pos {
	width: 270px;
	margin: 0 auto;
}

.second-column, .third-column {
	display: none;
}

/**************************************
Header
**************************************/

.success-stories h1 {
	color: rgb(86,86,86);
	font:  100 50px "Open Sans-light";
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

/**************************************
First block And Mobile Block
**************************************/

.first-column {
	width: 352px;
	float: left;
}

.column-for-mobile {
	width: 352px;
	float: left;
	margin-top: 10px;	
}

/**************************************
The Person Box
**************************************/

.box-wrapper {
	position: relative;
	width: 34.2rem;
	height: 19rem;
	background: white;
	float:left;
	overflow: hidden;
}

.box {
	background: white;
	color: grey;
	width: 32.2rem;
	height: 17rem;
	padding: 1rem;
	position: absolute;
	display: inline-block;
	transition: transform .7s;
	top:0;
	z-index: 2;
}

.box blockquote {
	font-size: 1.9rem;
	margin: 0 0 1.5rem 11rem;
}

.person-details {
	border-top: 1px solid #e5e5e5;
}

.person-name {
	font-size: 1.4rem;
	color: #3195c9;
	margin: 0.5rem 0;
	float: left;
}

.person-role {
	font-size: 1.4rem;
	color: grey;
	margin: 0;
	float: left;
	text-transform: none;
	width: 16rem;
}

.person-logo {
	height: 4.5rem;
	width: 8rem;
	float: right;
	outline:none;
	max-width: 100%;
	margin: 0.5rem 0 0 0;
}

/**************************************
Transitaion
**************************************/

.box-wrapper:hover .box {
	-moz-transform: translateY(-190px);
	-webkit-transform: translateY(-190px);
	-ms-transform: translateY(-190px);
	-o-transform: translateY(-190px);
	transform: translateY(-190px);
}

/**************************************
Text On Over
**************************************/

.text-on-hover {
	font-size: 2rem;
	background: #3aa6db;
	color: #fff;
	font: 200 "Open Sans", sans-serif;
	padding: 1rem;
	position: absolute;
	width: 32.2rem;
	height: 17rem;
}

.text-on-hover:before,
.text-on-hover:after,
.no-img-back-hover:before,
.no-img-back-hover:after
{
	content: " ";
	background: url(../img/quote-blue.png) no-repeat 50% 50%;
	display: inline-block;
	width: 28px;
	height: 25px;
}

/**************************************
Logo's Box
**************************************/

.logo-box-wrapper {
	position: relative;
	width: 10.7rem;
	height: 9.4rem;
	margin: 1rem 1rem 0 0;
	float: left;
	background: url(../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg) no-repeat center center;
	overflow: hidden;
}

.logo-box-wrapper:last-child {
	margin-right: 0;
}

.second-column .logo-box-wrapper {
	margin: 0 1rem 1rem 0;
}

.logo-box {
	background-color: white;
	height: 9.4rem;
	position: absolute;
	width: 10.7rem;
	top:0;
	transition: transform .5s;
}

.back-logo {
	height: 9.4rem;
	position: absolute;
	width: 10.7rem;
}

/**************************************
Transitaion
**************************************/

.logo-box-wrapper:hover .logo-box {
	-webkit-transform: translateY(-94px);
	-moz-transform: translateY(-94px);
	-ms-transform: translateY(-94px);
	-o-transform: translateY(-94px);
	transform: translateY(-94px);
}

/**************************************
Logos
**************************************/

.wireless {
	background: url(../img/cable_wireless_w100px_X_h42px2.jpg) no-repeat;
}

.jersey {
	background: url(../img/Jersey_Telecom_w100px_X_h42px.jpg) no-repeat;
}

.multilinks {
	background: url(../img/multilinks.jpg) no-repeat;
}

.mts {
	background: url(../img/mts_w108px_X_h95px.jpg) no-repeat;
}

.tata-sky {
	background: url(../img/Tata_Sky_w108px_X_h95px.jpg) no-repeat;
}

.upc {
	background: url(../img/upc_w108px_X_h95px.jpg) no-repeat;
}

.telecom {
	background: url(../img/MAX_telecom_w108px_X_h95.jpg) no-repeat;
}

.Kyivstarw {
	background: url(../img/Kyivstarw_w108px_X_h95.jpg) no-repeat;
}

.videocon {
	background: url(../img/VIDEOCON_w108px_X_h95px.jpg) no-repeat;
}

/**************************************
All Success Stories Button
**************************************/

.all-success-stories {
	font-size: 18px;
	font: "Open Sans", sans-serif;
	text-decoration: none;
	text-transform: capitalize;
	background: url(../img/btnArrow.png) right 10px center no-repeat;
	background-color: rgb(51,153,204);
	width: auto;
  	line-height: 1.8;
  	box-shadow: 0 3px 4px 0 grey;
	padding-left:10px;
  	padding-right:35px;
  	margin-top: 45px;
	border: none;
	border-radius: 5px;
	color: white;
  	display: inline-block;
}

.all-success-stories:hover {
	background-color: rgb(23,164,234);
}

/**************************************
Back-Top Button
**************************************/

#back-top{
	margin-top: 57px;
}

/**************************************
footer
**************************************/

.none, .copyright, .subs, .blog-posts{
	display: none;
}

/**************************************
Footer's Blocks
**************************************/

.footer-menu-item, .footer-item{
	font-size: 1.7rem;
	text-transform: uppercase;
	width: 100%;
	height: 4rem;
	color: white;
	background-color: rgb(31,31,31);
	box-shadow: 0 1px 3px 0 grey;
	padding-left: 1.5rem;
	padding-top: 1.5rem;
}

.link-deco{
	text-decoration: none;
	color: white;
}

/**************************************
Icons
**************************************/

.footer-menu-item a{
	float: right;
	width: 22%;
}

.youtube{
	background:url(../img/socialMenuIcon-youtube.png) no-repeat;
	width: 2.2rem;
	height: 2.2rem;
}

.youtube:hover {
	background: url(../img/socialMenuIcon-youtube_hover.png);
	width: 2.2rem;
	height: 2.2rem;
}

.twitter{
	background: url(../img/socialMenuIcon-twitter.png) no-repeat;
	width: 2.2rem;
	height: 2.2rem;
}

.twitter:hover {
	background: url(../img/socialMenuIcon-twitter_hover.png);
	width: 2.2rem;
	height: 2.2rem;
}

.linkedin {
	background: url(../img/socialMenuIcon-linkdin.png) no-repeat;
	width: 2.2rem;
	height: 2.2rem;
}

.linkedin:hover {
	background: url(../img/socialMenuIcon-linkdin_hover.png);
	width: 2.2rem;
	height: 2.2rem;
}

/**************************************
Mobile Copyright
**************************************/

.mobile-copyright{
	font-size: 1.3rem;
	text-align: center;
	margin-top: 0.5rem;
}

.mobile-copyright a{
	text-decoration: none;
	color: black;
}

/**************************************
Select Language
**************************************/

.footer-language {
    background-color: rgb(100,100,100);
    border: none;
    border-radius: 2px;
    color: white;
}

}